<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Agregar una Novedad</h2>
            <form action="/admin/novedades/agregar" method="post" class="row g-3">
                <div class="col-12">
                    <label for="inputTitulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="inputTitulo" placeholder="Título de la novedad"
                        name="titulo">
                </div>
                <div class="col-12">
                    <label for="inputSubtitulo" class="form-label">Subtítulo</label>
                    <input type="text" class="form-control" id="inputSubtitulo" placeholder="Subtítulo de la novedad"
                        name="subtitulo">
                </div>
                <div class="col-md-12 row-4">
                    <label for="inputCuerpo" class="form-label">Cuerpo</label>
                    <input type="text" class="form-control" id="inputCuerpo" placeholder="Desarrollo de la novedad"
                        name="cuerpo">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary custom-btn">Guardar</button>
                </div>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>