<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="background-layer"></div> <!-- Fondo difuminado -->
        <img src="images/portada.jpg" alt="Imagen centrada" class="foreground-image">
    </div>
</div>

<div id="¿Qué es la Comunicación Telepática con Animales?"
    class="row align-items-center staff-light-yellow py-4 scroll_section">
    <!-- Globos ocupando 2/3 del espacio -->
    <div class="col-lg-8 d-flex flex-column justify-content-between">
        <div class="balloon mb-3">
            <h4>¿Qué es la Comunicación Telepática con Animales?</h4>
            <p>
                La telepatía, entendida como la capacidad de <strong>"sentir a distancia"</strong>, es la habilidad
                de percibir lo que otro ser vivo siente, piensa, necesita y desea.<br />

                A través de la comunicación telepática, me conecto con los animales para dar voz a sus mensajes.
                Esta conexión es un encuentro intuitivo y energético, un intercambio "de corazón a corazón", donde
                sintonizo con lo que tu compañero o compañera tiene para compartirnos sin necesidad de
                palabras.<br />
            </p>
        </div>
        <div class="balloon">
            <h4>¿Qué puedo esperar de la comunicación telepática con mi animal? ¿Para qué sirve?</h4>
            <ul style="text-align:left">
                <li><strong>Conocerlo mejor y entender sus necesidades:</strong> Descubrir cómo se siente y qué es
                    lo que realmente necesita.
                    Darle la oportunidad de expresar su opinión y conocer mejor su mundo interior. Descubrir sus
                    preferencias sobre temas como la adopción de otro animal, su rutina de paseos, alimentación, y
                    más.
                </li>
                <li><strong>Detectar malestares:</strong> Preguntar si siente algún dolor o molestia y explorar
                    posibles soluciones para su bienestar. Es importante destacar que esta comunicación no reemplaza
                    la atención veterinaria.
                </li>
                <li><strong>Brindar apoyo en momentos difíciles:</strong> Intentar ayudarlo a superar problemas,
                    temores y desafíos. Demostrar que estás dispuesto a acompañarlo.</li>
                <li><strong>Prepararlo para cambios:</strong> Ya sean viajes, mudanzas de casa, cuidad o país,
                    cambios
                    en la composición de la familia, llegada de un bebe al hogar, y cualquier otra transición
                    importante.</li>
                <li><strong>Consensuar:</strong> Buscar facilitar la convivencia ofreciéndole soluciones juntos,
                    valorando tanto tu perspectiva como la de tu animal.</li>
                <li><strong>Interpretar su comportamiento:</strong> Preguntar cuál es el mensaje detrás de sus
                    conductas, como miedos, estrés, tristeza, o comportamientos indeseados como morder cosas o
                    lastimarse a sí mismo.</li>
            </ul>
        </div>
    </div>

    <!-- Imagen ocupando 1/3 del espacio -->
    <div class="col-lg-4 d-flex justify-content-end ">
        <img src="images/comunicacion_3.png" alt="mi historia" class="img-fluid img-thumbnail h-100">
    </div>

    <p class="cierre mt-4">
        <strong>¡Te doy la bienvenida al mágico mundo de Alma Animal, donde hablar con los animales no solo es
            posible,
            sino también muy divertido! ¿Te gustaría escucharlos?</strong>
    </p>
</div>

<div id="Comunicacion" class="row align-items-center staff-light-green  leter-color-light-yellow py-5 scroll_section">
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-left: 100px;">
        <img src="images/comunicacion.png" alt="comunicacion" class="img-fluid img-thumbnail rounded-circle">
    </div>
    <div class="col-lg-8 col-md-8">
        <h2>Comunicación Telepática con Animales</h2>
        <p>
            La primera vez que hablé con mi mejor amigo perruno a través de una comunicadora, quedé completamente
            asombrada. Milo pudo decirme lo que sentía, pensaba, lo que le molestaba o le dolía, y lo que no.
            ¡Incluso me recordó una promesa que le había hecho y que yo había olvidado! Y a pesar de eso, él seguía
            esperándola <br></br>

            Ese momento lo viví como un sueño hecho realidad, de profunda conexión, y sin duda cambió mi relación
            con él para siempre. Desde entonces, he realizado varias consultas con colegas comunicadores ante
            grandes cambios en nuestras vidas, como mudanzas y la llegada de una nueva gatita a casa.<br></br>

            Las sesiones de comunicación son la forma de hablar directamente con ellos y hacerles las preguntas que
            siempre deseamos saber. Además, les damos la oportunidad de expresarse, valoramos su opinión y
            fortalecemos nuestro vínculo.<br><br />

            <strong>Modalidad de la sesión</strong>
        <ul>
            <li><strong>A distancia:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para realizar la sesión, necesito una foto reciente de tu animal
                (preferiblemente del mismo día,
                o del día anterior si no es posible) donde se vean claramente sus ojos y una foto de cuerpo entero,
                junto con hasta seis preguntas que te gustaría hacerle, al menos 3 días antes de la sesión.</li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás un audio con las respuestas de tu
                animal.</li>
        </ul>
        </p>
    </div>
</div>

<div id="Comunicacion Trascendidos"
    class="row align-items-center staff-light-green leter-color-light-yellow py-4 scroll_section">
    <!-- Texto a la izquierda -->
    <div class="col-lg-8 col-md-8 justify-content-center" style="padding-left: 100px;">
        <h2>Comunicación con Animales Trascendidos</h2>
        <p>
            ¿Te gustaría recibir un último mensaje de tu compañero o compañera animal trascendido? Podemos conectar
            con el alma del animal para recibir cualquier mensaje que quiera transmitirte y, si deseas, descubrir
            cuál fue la misión de su vida en la tuya.<br></br>

            Es importante esperar aproximadamente 15 días después de su partida antes de realizar esta conexión, ya
            que durante ese tiempo su alma emprende un viaje de ascensión que no debe ser interrumpido. Después de
            este periodo, estaremos en condiciones de establecer la comunicación.
            <br></br>

            <strong>Modalidad de la sesión</strong>
        <ul>
            <li><strong>Duración:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para comunicarme necesito que me envíes una foto del animal donde se vean
                claramente sus ojos y hasta seis preguntas que te gustaría hacerle, al menos 3 días antes de la
                sesión.</li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás un audio con las respuestas de tu
                animal.</li>
        </ul>
        </p>
    </div>
    <!-- Imagen a la derecha -->
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-right: 100px;">
        <img src="images/trascendidos.png" alt="comunicacion" class="img-fluid img-thumbnail rounded-circle">
    </div>
</div>

<div id="Sanacion" class="row align-items-center staff-light-green  leter-color-light-yellow py-5 scroll_section">
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-left: 100px;">
        <img src="images/sanacion.png" alt="sanacion" class="img-fluid img-thumbnail rounded-circle">
    </div>
    <div class="col-lg-8 col-md-8">
        <h2>Sanación Chamánica (Amadeus) para Animales</h2>
        <p>
            La técnica Amadeus es un poderoso sistema de sanación que los indígenas Guaraníes han practicado en el
            corazón del Amazonas durante siglos <br></br>

            Este método se fundamenta en el intercambio de energía entre los seres humanos, el dios Tupá y la Madre
            Tierra. Actúa como un portal para la comunicación directa con los espíritus de la naturaleza, como los
            árboles, animales, plantas, piedras, cristales y el viento. El chamán se convierte en un intermediario
            entre el Cielo y la Tierra, utilizando el Amor como fuerza curativa.<br></br>

            Según la creencia guaraní, una vez que se aleja la fuerza externa que causa sufrimiento o enfermedad, el
            cuerpo físico se libera y se restablece el equilibrio.<br><br />

            La sanación para animales abarca tanto problemas físicos como emocionales. Si te interesa el mundo
            chamánico, esta sanación es perfecta para tu animal.<br><br />

            <strong>Modalidad de la sesión</strong>
        <ul>
            <li><strong>A distancia:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para realizar la sesión, necesito una foto reciente de tu animal
                (preferiblemente del mismo día,
                o del día anterior si no es posible) donde se vean claramente sus ojos y una foto de cuerpo entero,
                junto con la intención para la sesión, es decir, el motivo por el cual querés que tu animal la
                reciba.
            </li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás un breve devolución sobre los temas
                trabajados.</li>
        </ul>
        </p>
    </div>
</div>

<div id="Reiki" class="row align-items-center staff-light-green leter-color-light-yellow py-4 scroll_section">
    <!-- Texto a la izquierda -->
    <div class="col-lg-8 col-md-8 justify-content-center" style="padding-left: 100px;">
        <h2>Reiki para Animales</h2>
        <p>
            El término Reiki proviene del sánscrito y se compone de dos palabras: "Rei", que significa "energía
            universal", y "Ki", que se traduce como "energía vital".<br></br>

            En una sesión de Reiki, se canaliza y transmite esta energía vital promoviendo así un equilibrio
            perfecto entre lo emocional, mental, físico y espiritual. Todos los seres vivos estamos impulsados por
            una energía vital; mantener esta energía en armonía es clave para alcanzar un estado óptimo de bienestar
            y salud.<br></br>

            Los animales, al igual que los humanos, poseen chakras, que son centros de energía sutil ubicados
            alrededor del cuerpo. Estos chakras se encargan de distribuir la energía vital a diferentes áreas,
            promoviendo una salud integral.<br></br>

            <strong>¿Para qué sirve y qué puede aportarle a mi animal?</strong><br>

            El Reiki ofrece un equilibrio integral que beneficia a tu mejor amigo o amiga en todos los aspectos de
            su vida:

        <ul>
            <li><strong>Emocional:</strong> Ayuda a regular las emociones, como temores y tristeza. Proporciona una
                sensación de tranquilidad y seguridad, aliviando tensiones acumuladas del entorno.</li>
            <li><strong>Mental:</strong> Suaviza los comportamientos obsesivo-compulsivos y reduce el estrés,
                promoviendo una mente más equilibrada y serena.</li>
            <li><strong>Físico:</strong> Ofrece alivio a dolencias físicas, contribuyendo a una mejor salud y
                bienestar corporal.</li>
            <li><strong>Espiritual:</strong> Fomenta la paz y el equilibrio interno, creando un estado de bienestar
                general.</li>
        </ul>

        <p>
            Con Reiki, se puede experimentar una revitalización profunda y un equilibrio armonioso en todos los
            niveles.<br></br>

            <strong>Modalidad de la sesión</strong>
        </p>
        <ul>
            <li><strong>Duración:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para realizar la sesión, necesito una foto reciente de tu animal
                (preferiblemente del mismo día, o del día anterior si no es posible) donde se vean claramente sus
                ojos y una foto de cuerpo entero, junto con la intención para la sesión, es decir, el motivo por el
                cual querés que tu animal la reciba.</li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás una breve devolución sobre los temas
                trabajados.</li>
        </ul>
        </p>
    </div>
    <!-- Imagen a la derecha -->
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-right: 100px;">
        <img src="images/reiki.png" alt="reiki" class="img-fluid img-thumbnail rounded-circle">
    </div>
</div>

<div id="Armonizacion" class="row align-items-center staff-light-green  leter-color-light-yellow py-5 scroll_section">
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-left: 100px;">
        <img src="images/armonizacion.png" alt="armonizacion" class="img-fluid img-thumbnail rounded-circle">
    </div>
    <div class="col-lg-8 col-md-8">
        <h2>Armonización Energética (Tameana)</h2>
        <p>
            Tameana es una técnica de vibración y armonización energética que utiliza cristales, geometría sagrada,
            símbolos y códigos de luz. Esta metodología ayuda a reordenar y reorganizar la energía de acuerdo con
            las necesidades específicas de tu animal.<br></br>

            <strong>¿Para qué sirve y qué puede aportarle a mi animal?</strong>
        <ul>
            <li><strong>Alivio de miedos e inseguridades:</strong> Ayuda a tratar problemas relacionados con
                temores, temperamento e inseguridades.</li>
            <li><strong>Renovación de energía y vitalidad:</strong> Ideal para animales que están atravesando una
                enfermedad o para aquellos que simplemente necesitan un impulso adicional de bienestar.</li>
            <li><strong>Suavización de bloqueos emocionales:</strong>Contribuye al alivio de estrés y angustia, y la
                eliminación de vibraciones de baja frecuencia. Conecta con la esencia del ser.</li>
            <li><strong>Activación y alineación de chakras:</strong> Equilibra y armoniza los chakras para mejorar
                el bienestar general.</li>
            <li><strong>Promoción de calma y relajación:</strong>Proporciona equilibrio, calma y relaja el cuerpo
                físico.</li>
            <li><strong>Estimulación del funcionamiento corporal:</strong>Activa y mejora el funcionamiento de los
                sistemas y órganos del cuerpo.</li>
        </ul>
        <p>
            <strong>Modalidad de la sesión</strong>
        </p>
        <ul>
            <li><strong>A distancia:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para realizar la sesión, necesito una foto reciente de tu animal
                (preferiblemente del mismo día, o del día anterior si no es posible) donde se vean claramente sus
                ojos y una foto de cuerpo entero, junto con la intención para la sesión, es decir, el motivo por el
                cuaAl concluir la sesión, recibirás un breve devolución sobre los temasl querés que tu animal la
                reciba.
            </li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás un breve devolución sobre los temas
                trabajados.</li>
        </ul>
        </p>
    </div>
</div>

<div id="Cirugias" class="row align-items-center staff-light-green leter-color-light-yellow py-4 scroll_section">
    <!-- Texto a la izquierda -->
    <div class="col-lg-8 col-md-8 justify-content-center" style="padding-left: 100px;">
        <h2>Armonización Energética y Cirugía Etérica</h2>
        <p>
            Es una cirugía a nivel energético, en la que se "opera" el cuerpo etérico. Me concentro en el órgano,
            articulación, hueso o área afectada, eliminando elementos energéticos dañinos y reemplazándolos con
            matrices energéticas sanas para activar el bienestar de tu animal. Esta terapia es especialmente útil
            antes o después de una cirugía convencional, amputación o castración, cuando una parte del cuerpo ya no
            está presente físicamente, trabajando sobre el cuerpo etérico y complementando así la medicina
            tradicional que actúa sobre la materia. Aborda tanto el dolor emocional como físico.<br></br>

            El cuerpo etérico, aunque es sutil, está estrechamente vinculado con nuestra biología; es el campo de
            energía vital que moldea nuestro cuerpo físico. En una sesión, trabajamos en este campo energético para
            restablecer la armonía, lo cual puede manifestarse luego en nuestro bienestar físico.<br></br>

            La cirugía etérica se realiza en el contexto de una armonización energética donde se trabajan los siete
            chakras, aportando un bienestar general.<br></br>


            <strong>Modalidad de la sesión</strong>

        <ul>
            <li><strong>Duración:</strong> La sesión es completamente a distancia y durará 45 minutos.</li>
            <li><strong>Fotos:</strong> Para realizar la sesión, necesito una foto reciente de tu animal
                (preferiblemente del mismo día, o del día anterior si no es posible) donde se vean claramente sus
                ojos y una foto de cuerpo entero, junto con la intención para la sesión, es decir, el motivo por el
                cual querés que tu animal la reciba.</li>
            <li><strong>Devolución:</strong> Al concluir la sesión, recibirás una breve devolución sobre los temas
                trabajados.</li>
        </ul>
        </p>
    </div>
    <!-- Imagen a la derecha -->
    <div class="col-lg-3 col-md-4 d-flex justify-content-center d-sm-block" style="padding-right: 100px;">
        <img src="images/cirugia.png" alt="reiki" class="img-fluid img-thumbnail rounded-circle">
    </div>
</div>

<div id="Mi Historia" class="row align-items-center staff-light-brown leter-color-light-yellow py-4 scroll_section">
    <div class="col-lg-3 col-md-1 offset-lg-1 d-none d-sm-block">
        <img src="images/mi_historia.jpg" alt="mi historia" class="img-fluid img-thumbnail">
    </div>
    <div class="col-lg-6 col-md-6 mt-4 mt-sm-0">
        <h2>Mi Historia</h2>
        <p>
            Mi nombre es Stephanie y llevo más de 10 años cuidando y defendiendo con amor a la Tierra y a todos sus
            habitantes. <br><br />

            Mi camino hacia la comunicación telepática con el reino animal y vegetal, así como diversas
            terapias holísticas, nació del profundo respeto que siento por todos los que vivimos en este planeta.
            <br><br />

            Comencé mi camino cuidando el medio ambiente desde lo personal, adoptando nuevos hábitos en mi día a
            día. A medida que mi conciencia crecía, también lo hacía mi compromiso, lo que me llevó a involucrarme
            en el activismo ambiental. Fue entonces, gracias a mi mejor amigo perruno, maestro y guía, que la
            telepatía animal llegó a mi vida.<br><br />

            Mi amor por los animales me inspiró a formarme en varias disciplinas, como la Comunicación Animal,
            Chamanismo, Reiki Usui, Tameana y Cirugías Etéricas para ofrecerles la ayuda más completa
            posible.<br><br />

            <strong>Alma Animal</strong> nace de ese profundo amor por los animales y del sueño que tengo desde
            chiquita de hablar con
            ellos y ser canal para que expresen sus deseos y necesidades, honrándolos y ayudándolos de la mejor
            manera posible.<br><br />

            Puedo comunicarme con tu compañero y compañera animal y darle voz, facilitando una mejor comprensión
            mutua y fortaleciendo su vínculo.

        </p>
        <p class="cierre">
            <strong>¡Te doy la bienvenida al mágico mundo de Alma Animal!</strong>
        </p>
    </div>
</div>

<div id="para mi" class="row align-items-center staff-light-yellow py-4 scroll_section">
    <!-- Globos ocupando 2/3 del espacio -->
    <div class="col-lg-8 col-md-8">
        <div class="balloon mb-3">
            <h4>¿Cómo saber si <strong>Alma Animal</strong> es para mí?</h4>

            <p><strong>Es</strong> para mí si…</p>

            <ul class="check-list">
                <li class="check">Me interesa saber cómo se siente mi mejor amigo o amiga y qué es lo que realmente
                    necesita.</li>
                <li class="check">Me gustaría comprender por qué hace lo que hace y qué lo motiva a realizar ciertas
                    acciones.</li>
                <li class="check">Deseo ayudarlo a transitar momentos difíciles.</li>
                <li class="check">Me comprometo a acompañarlo durante una enfermedad.</li>
                <li class="check">Quiero prepararlo para algún cambio importante en su vida.</li>
                <li class="check">Busco conocerlo mejor y hacerle sentir mi apoyo.</li>
                <li class="check">Quiero entender sus preferencias y consensuar para mejorar la convivencia.</li>
                <li class="check">Deseo brindarle armonización energética y transmitirle paz.</li>
            </ul>

            <p><strong>No es</strong> para mí si...</p>

            <ul class="check-list">
                <li class="cross">Busco sanar a mi animal solamente con técnicas holísticas.</li>
                <li class="cross">No tengo intención de realizar una consulta veterinaria.</li>
                <li class="cross">No estoy en condiciones de escuchar a mi animal y darle lugar a sus sentimientos y
                    necesidades.</li>
            </ul>
        </div>

        <div class="balloon mt-4">
            <h4>¿Con qué animales puedo comunicarme?</h4>
            <p>
                ¡Con todos! Salvajes y domésticos, y con todas las especies. Todos los seres vivos tienen algo para
                decirnos, incluso en el reino vegetal. Solo tenemos que estar dispuestos a embarcar en el mágico
                viaje de escucharlos.

                Es importante que el animal esté dispuesto a comunicarse. Aunque no es común, puede darse el caso de
                que no se sienta preparado para conectar en ese momento. Si esto ocurre, lo respetaremos y
                esperaremos
                una ocasión más adecuada para intentarlo nuevamente.
            </p>
        </div>
    </div>

    <!-- Imagen ocupando 1/3 del espacio -->
    <div class="col-lg-4 col-md-4 d-flex justify-content-center">
        <img src="images/es_para_mi.png" alt="mi historia" class="img-fluid img-thumbnail h-100">
    </div>
</div>

<div id="Testimonios" class="row align-items-center staff-light-yellow py-4 scroll_section">
    <div class="col-lg-1 ">
    </div>
    <div class="col-lg-10 col-md-6 mt-4 mt-sm-0 py-5">
        <h2 style="margin-bottom: 30px;">
            Testimonios de algunas comunicaciones realizadas
        </h2>
        <div id="CarrouselTestimonios" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#CarrouselTestimonios" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#CarrouselTestimonios" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#CarrouselTestimonios" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#CarrouselTestimonios" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#CarrouselTestimonios" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/testimonio_sabrina_de_uruguay_2.png" class="d-block w-100" alt="testimonio_1">
                    <p>
                        <i>Sabrina de Uruguay. Comunicación con Chamuel &#128570 y Shekinah &#128054</i>
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="images/testimonio_eve_de_la_plata_2.png" class="d-block w-100" alt="testimonio_2">
                    <p>
                        <i>Eve de La Plata. Comunicación con Nara &#128054 y Lupita &#128054</i>
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="images/testimonio_gabriela_de_mar_del_plata_2.png" class="d-block w-100" alt="testimonio_3">
                    <p>
                        <i>Gabriela de Mar del Plata. Comunicaron con Summer &#128054</i>
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="images/testimonio_may_de_uruguay_2.png" class="d-block w-100" alt="testimonio_4">
                    <p>
                        <i>May de Uruguay. Comunicación con Elvis &#128570</i>
                    </p>
                </div>
                <div class="carousel-item">
                    <img src="images/testimonio_karina_de_buenos_aires_2.png" class="d-block w-100" alt="testimonio_5">
                    <p>
                        <i>Karina de Buenos Aires. Comunicación con Sasha &#128054</i>
                    </p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#CarrouselTestimonios"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#CarrouselTestimonios"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div id="mas" class="container scroll_section">
    <div class="col-lg-1">
    </div>
    <div class="row justify-content-center" style="padding-top: 50px;">

        <!-- Primera card -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <img src="images/card_historia.png" class="card-img-top" alt="..."
                    style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Breve Historia de la Comunicación Telepática entre Especies</h5>
                    <p class="card-text">Spoiler: Los seres humanos somos animales.</p>
                    <a href="/mas#Breve Historia" class="btn btn-primary custom-btn">Seguir Leyendo</a>
                </div>
            </div>
        </div>

        <!-- Segunda card -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <img src="images/card_codigo_etica.png" class="card-img-top" alt="..."
                    style="height: 400px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Código de Ética para la Comunicación Telepática entre Especies</h5>
                    <p class="card-text">Formulado por Penelope Smith en el año 1990.</p>
                    <a href="/mas#Etica" class="btn btn-primary custom-btn">Seguir Leyendo</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="Contacto" class="row align-items-center staff-light-green leter-color-light-yellow py-4 scroll_section">

        <!-- Imagen a la izquierda -->
        <div class="col-lg-3 col-md-3">
            <img src="images/form.png" alt="form" class="img-fluid img-thumbnail">
        </div>

        <!-- Formulario en el centro -->
        <div class="col-lg-6 col-md-6 ">
            <h2 class="text-center">Si tenés dudas o querés una consulta personalizada, dejame un mensaje y te
                respondo a la brevedad
            </h2>

            <div id="Form"
                class="row align-items-center py-4 scroll_section mx-4 border border-dark rounded p-3 bg-light form-container">
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@email.com">
                    </div>

                    <div class="col-6">
                        <label for="tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="tel" name="tel" placeholder="">
                    </div>
                    <div class="col-12">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="4"></textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary custom-btn">Enviar</button>
                    </div>
                </form>
                {{message}}
            </div>
        </div>

        <!-- Imagen a la derecha -->
        <div class="col-lg-3 col-md-3">
            <img src="images/telepatia_1.png" alt="form" class="img-fluid img-thumbnail">
        </div>

    </div>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <img src=" images/logo_form.png" alt="form" class="img-fluid" style="max-width: 180px; height: auto;">
    </div>
</div>

