<body>

    <div id="Breve Historia"
        class="row align-items-center staff-light-brown leter-color-light-yellow py-4 scroll_section"
        style="margin: 50px 0;">
        <div class="col-lg-3 col-md-1 d-none d-sm-block" style="padding-top: 100px;">
            <img src="images/comunicacion_2.png" alt="mi historia" class="img-fluid img-thumbnail">
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mt-sm-0" style="padding-top: 100px;">
            <h2>Breve Historia de la Comunicación Telepática entre Especies</h2>
            <p>
                En 1971, Penelope Smith convirtió la comunicación telepática con animales en una profesión, promoviendo
                la idea de que los seres humanos pueden aprender (en verdad, recordar) a comunicarse intuitivamente con
                ellos. <br><br />

                Sin embargo, esta forma de comunicación existe desde los inicios de la humanidad; todos tenemos
                la capacidad innata de conectarnos intuitivamente con todas las especies. <br><br />

                El chamanismo desde tiempos prehistóricos está estrechamente vinculado con la comunicación interespecie.
                Los chamanes poseen la habilidad para comunicarse tanto con animales como con espíritus y fuerzas de la
                naturaleza.<br><br />

                La comunicación telepática entre especies nos ayuda a expandir nuestra conciencia, al comprender y
                respetar a los animales como seres vivos pares e iguales. No te pierdas la oportunidad de hablar con tus
                animales más queridos, conocerlos mejor, darles lugar para expresar sus deseos, fortalecer la relación,
                transmitirles un mensaje o simplemente todo tu amor.


            </p>
        </div>
    </div>

    <div id="Etica" class="row align-items-center staff-light-brown leter-color-light-yellow py-4 scroll_section"
        style="margin: 50px 0;">
        <div class="col-lg-8 col-md-6 mt-4 mt-sm-0" style="padding-left: 50px;">
            <h2>Código de Ética para la Comunicación Telepática entre Especies</h2>
            <p>
                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Nuestra motivación es la compasión por todos los seres y el deseo de ayudar a todas las especies a
                entenderse mejor entre ellas, particularmente ayudar a recuperar la capacidad que como humanos hemos
                perdido para comunicarnos con otras especies de manera libre y directa. <br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Honramos a quienes vienen a nosotros por ayuda, sin juzgarlos, condenarlos o invalidarlos por sus
                errores o desconocimiento, sino honrando su deseo de cambio y armonía.<br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Sabemos que para mantener esta labor tan pura y armoniosa como sea posible se requiere que sigamos
                creciendo espiritualmente de manera continua. <br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Entendemos que la comunicación telepática puede ser nublada u opacada por nuestras propias emociones por
                resolver, nuestros juicios de valor, o la falta de amor propio y por los otros. <br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Caminamos con humildad y con la voluntad de reconocer y aclarar nuestros propios errores al interpretar
                la comunicación de otros seres (humanos y no humanos por igual).<br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Cultivamos el conocimiento y el entendimiento de las dinámicas de comportamiento y de relacionarse
                humanas, no humanas y entre especies, para incrementar los buenos resultados de nuestro trabajo.
                <br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Nosotros recibimos la educación y/o la ayuda personal que necesitamos para hacer nuestra labor de manera
                efectiva, con compasión, respeto, gozo y armonía.<br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Buscamos sacar lo mejor de cada uno y propiciar el entendimiento hacia una mutua resolución de
                problemas. Únicamente vamos adonde nos piden nuestra ayuda, ya que solo podemos ayudar verdaderamente
                cuando los otros están receptivos.<br><br />

                <img src="images/patita.png" alt="huella de perro" style="width: 30px; height: 30px;">
                Respetamos los sentimientos e ideas de los demás y trabajamos para la comprensión entre especies, sin
                poner a un lado en contra del otro, sino caminando con compasión para todos.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
            <img src="images/etica.png" alt="mi historia" class="img-fluid img-thumbnail h-100">
        </div>
    </div>